<h1>Show Zip code</h1>

<ul>

  <li>
    <strong>Value:</strong>
    <%= @zip_code.value %>
  </li>

  <li>
    <strong>Slug:</strong>
    <%= @zip_code.slug %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.zip_code_path(@conn, :edit, @zip_code) %></span>
<span><%= link "Back", to: Routes.zip_code_path(@conn, :index) %></span>
