<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Stefan Wintermeyer">
    <%= render_existing(@view_module, "meta." <> @view_template, assigns) ||
        render(MehrSchulferienWeb.LayoutView, "meta.html", assigns) %>
    <style>
      <%= render(MehrSchulferienWeb.LayoutView, "_css.html", assigns) %>
    </style>

    <%= render(MehrSchulferienWeb.LayoutView, "_google_analytics_code.html") %>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-9538764634478220",
          enable_page_level_ads: true
     });
    </script>

    <%= if assigns[:set_noindex] && @set_noindex == true do %>
      <meta name="robots" content="noindex" />
    <% end %>

    <%= if assigns[:canonical_school] do %>				
      <%= if assigns[:canonical_starts_on] && assigns[:canonical_ends_on] do %>
        <link rel="canonical" href="/schools/<%= @canonical_school.slug %>/<%= @canonical_starts_on %>/<%= @canonical_ends_on %>" />			
      <% else %>
        <link rel="canonical" href="/schools/<%= @canonical_school.slug %>" />
      <% end %>
    <% end %>

    <%= if assigns[:canonical_city] do %>
      <%= if assigns[:canonical_starts_on] && assigns[:canonical_ends_on] do %>
        <link rel="canonical" href="/cities/<%= @canonical_city.slug %>/<%= @canonical_starts_on %>/<%= @canonical_ends_on %>" />			
      <% else %>
        <link rel="canonical" href="/cities/<%= @canonical_city.slug %>" />
      <% end %>
    <% end %>

    <%= if assigns[:canonical_federal_state] do %>
      <%= if assigns[:canonical_starts_on] && assigns[:canonical_ends_on] do %>
        <link rel="canonical" href="/federal_states/<%= @canonical_federal_state.slug %>/<%= @canonical_starts_on %>/<%= @canonical_ends_on %>" />			
      <% else %>
        <link rel="canonical" href="/federal_states/<%= @canonical_federal_state.slug %>" />
      <% end %>
    <% end %>

    <!--<%= if assigns[:canonical_federal_state] do %>
      <%= if assigns[:canonical_starts_on] && assigns[:canonical_ends_on] do %>
        <link rel="canonical" href="/bridge_days/federal_states/<%= @canonical_federal_state.slug %>/<%= @canonical_starts_on %>/<%= @canonical_ends_on %>" />			
      <% else %>
        <link rel="canonical" href="/bridge_days/federal_states/<%= @canonical_federal_state.slug %>" />
      <% end %>
    <% end %> -->

  </head>

  <body>
    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    <div class="row">
      <div class="col-xs-12">
        <p>Alle Angaben ohne Gewähr.</p>
        <hr />
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="col-xs-6">
          <p>
            Copyright by Stefan Wintermeyer - <a href="/impressum">Impressum und Datenschutzerklärung</a>
          </p>
        </div>
        <div class="col-xs-6">
          <p class="pull-right">
            <a href="https://www.wintermeyer-consulting.de">Wintermeyer Consulting</a>
          </p>
        </div>
      </div>
    </footer>
  </div> <!-- /container -->

    <!-- <script src="<%= static_path(@conn, "/js/app.js") %>"></script> -->
  </body>
</html>
