<meta name="description" content="Ferienterminen und Brückentageübersicht für alle Bundesländer inkl. beweglicher Ferientage und gesetzlicher Feiertage. Mit katholischen, jüdischen, evangelischen und islamischen Feiertagen.">
<title>mehr-schulferien.de</title>
