<ol class="breadcrumb">
  <li><%= link "Start", to: Routes.page_path(@conn, :index) %></li>
  <li><%= @country.name %></li>
</ol>

<div class="page-header">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Schulferien <%= @current_year %>
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render MehrSchulferienWeb.PartialView, "_country_periods_table.html", assigns %>
  </div>
</div>
