<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  
  <url>
    <loc>https://www.mehr-schulferien.de/</loc>
  </url>

  <url>
    <loc>https://www.mehr-schulferien.de/developers</loc>
  </url>
  <url>
    <loc>https://www.mehr-schulferien.de/impressum</loc>
  </url>
  
  <%!-- VACATION TYPE OVERVIEW PAGES --%>
  <url>
    <loc>https://www.mehr-schulferien.de/sommerferien</loc>
  </url>
  <url>
    <loc>https://www.mehr-schulferien.de/osterferien</loc>
  </url>
  <url>
    <loc>https://www.mehr-schulferien.de/herbstferien</loc>
  </url>
  <url>
    <loc>https://www.mehr-schulferien.de/weihnachtsferien</loc>
  </url>
  <url>
    <loc>https://www.mehr-schulferien.de/winterferien</loc>
  </url>
  <url>
    <loc>https://www.mehr-schulferien.de/pfingstferien</loc>
  </url>

  <%= for place <- @countries do %>
    <% country = place[:country] %>
    <% federal_states = place[:federal_states] %>
    <% cities = place[:cities] %>
    <% schools = place[:schools] %>

    <%!-- Country URLs --%>
    <url>
      <loc>https://www.mehr-schulferien.de/ferien/<%= country.slug %></loc>
    </url>

    <%!-- Federal States URLs --%>
    <%= for federal_state <- federal_states do %>
      <%!-- Years for federal state --%>
      <%= for year <- Map.get(federal_state, :period_years, []) |> Enum.filter(fn y -> y == @today.year or y == @today.year + 1 end) do %>
        <url>
          <loc>https://www.mehr-schulferien.de/ferien/<%= country.slug %>/bundesland/<%= federal_state.slug %>/<%= year %></loc>
        </url>
        
        <%!-- Vacation-specific URLs for better SEO --%>
        <url>
          <loc>https://www.mehr-schulferien.de/sommerferien/<%= federal_state.slug %>/<%= year %></loc>
        </url>
        <url>
          <loc>https://www.mehr-schulferien.de/osterferien/<%= federal_state.slug %>/<%= year %></loc>
        </url>
        <url>
          <loc>https://www.mehr-schulferien.de/herbstferien/<%= federal_state.slug %>/<%= year %></loc>
        </url>
        <url>
          <loc>https://www.mehr-schulferien.de/weihnachtsferien/<%= federal_state.slug %>/<%= year %></loc>
        </url>
        <url>
          <loc>https://www.mehr-schulferien.de/winterferien/<%= federal_state.slug %>/<%= year %></loc>
        </url>
        <url>
          <loc>https://www.mehr-schulferien.de/pfingstferien/<%= federal_state.slug %>/<%= year %></loc>
        </url>
        
        <%!-- Bridge days URLs for federal states --%>
        <url>
          <loc>https://www.mehr-schulferien.de/brueckentage/<%= country.slug %>/bundesland/<%= federal_state.slug %>/<%= year %></loc>
        </url>
      <% end %>
    <% end %>

    <%!-- Cities URLs (without year, as year-specific URLs redirect to non-year URLs) --%>
    <%= for city <- cities do %>
      <url>
        <loc>https://www.mehr-schulferien.de/ferien/<%= country.slug %>/stadt/<%= city.slug %></loc>
      </url>
    <% end %>

    <%!-- Schools URLs --%>
    <%= for school <- schools do %>
      <%!-- Static school pages --%>
      <url>
        <loc>https://www.mehr-schulferien.de/briefe/<%= school.slug %>/entschuldigung</loc>
      </url>
      <url>
        <loc>https://www.mehr-schulferien.de/ferien/<%= country.slug %>/schule/<%= school.slug %></loc>
      </url>
    <% end %>
  <% end %>
</urlset>