<meta name="description" content="Ferientermine und Brückentageübersicht für <%= @school.name %> (<%= @school.school_type_entity %>) in <%= @city.zip_code %> <%= @city.name %> (<%= @federal_state.name %>). Inkl. gesetzlicher Feiertage. Alles auf einer Seite.">
<title>Schulferientermine <%= @school.name %> :: <%= CalendarHelper.calendar_sub_heading(@starts_on, @ends_on, @chosen_religion_categories) %></title>
