<meta name="description" content="Ferientermine und gesetzliche Feiertage für <%= @school.name %> <%= unless @school.name =~ String.strip(@school.school_type_entity) do %>(<%= String.strip(@school.school_type_entity) %>) <% end %>in <%= @city.name %> (<%= @federal_state.name %>). Optional mit islamischen, jüdischen und orthodoxen Feiertagen zu denen es eine Beurlaubung gibt.">
<title>Schulferientermine <%= @school.name %><%= if CalendarHelper.calendar_sub_heading(@starts_on, @ends_on, @chosen_religion_categories) != "" do %> <%= CalendarHelper.calendar_sub_heading(@starts_on, @ends_on, @chosen_religion_categories) %><% end %></title>
