<title>Brückentage <%= @federal_state.name %> für das Jahr <%= @year %></title>
<meta name="description" content="Die besten <%= @bridge_day_proposal_count %> Brückentage für <%= @federal_state.name %> für das Jahr <%= @year %>.">
