<div class="row">
  <div class="col-md-12">
    <h2 class="bridge-day-title">
      <span class="icon-calendar">📅</span>
      Brückentage
    </h2>
    <% teaser = case MehrSchulferienWeb.PageView.best_bridge_day_teaser() do
      {percent, min_leave, max_days, year, _starts_on, _ends_on} ->
        """
        <div class="bridge-day-teaser">
          Bis zu #{percent}% mehr freie Tage möglich!
          <span class="bridge-day-teaser-example">
            Beispiel: Mit nur #{min_leave} Urlaubstag#{if min_leave > 1, do: "en", else: ""} in NRW können Sie #{max_days} Tage frei machen
            (<a href=\"#{Routes.bridge_day_path(@conn, :show_within_federal_state, "d", "nordrhein-westfalen", year)}\">Beispiel ansehen</a>).
          </span>
        </div>
        """
      _ -> ""
    end %>
    <%= raw(teaser) %>
    <div class="alert alert-info bridge-day-info">
      <strong>Mehr Urlaub mit weniger Urlaubstagen!</strong><br>
      Nutzen Sie Brückentage für eine clevere Urlaubsplanung. <a href="https://de.wikipedia.org/wiki/Brückentag" target="_blank" rel="noopener">Was ist ein Brückentag?</a>
    </div>
    <p>
      Unser Algorithmus zeigt nicht nur normale <a href="https://de.wikipedia.org/wiki/Brückentag">Brückentage</a>, sondern auch
      die Variationen, in denen 2 bis 4 genommene Urlaubstage ein Vielfaches an effektivem
      Urlaub realisieren.
    </p>
    <div class="table-wrapper bridge-day-table">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Bundesland</th>
            <%= if Enum.any?(@countries, fn country -> 
                 Enum.any?(country[:federal_states], fn federal_state -> 
                   length(federal_state.years_with_bridge_days) > 0 
                 end)
               end) do %>
              <th colspan="<%= length(@countries |> hd() |> get_in([:federal_states]) |> hd() |> Map.get(:years_with_bridge_days)) %>">Jahr</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%= for place <- @countries do %>
            <% country = place[:country] %>
            <% federal_states = place[:federal_states] %>
            <%= for federal_state <- federal_states do %>
              <tr>
                <td><%= federal_state.name %></td>
                <%= if length(federal_state.years_with_bridge_days) > 0 do %>
                  <%= for year <- federal_state.years_with_bridge_days do %>
                    <td><%= link year, to: Routes.bridge_day_path(@conn, :show_within_federal_state, country.slug, federal_state.slug, year), class: "btn btn-sm btn-outline-primary" %></td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div> 