<ol class="breadcrumb">
  <li><%= link "Start", to: Routes.page_path(@conn, :index) %></li>
</ol>

<div class="row">
  <div class="col-xs-12">
    <h2>Aktuelle Schulferien und Feiertage</h2>
    <p>Eine Schnellübersicht der nächsten 6 Wochen. Klicken Sie auf den Namen des Bundeslandes, um eine komplette übersicht über alle Ferientermine zu bekommen.</p>
    <%= render MehrSchulferienWeb.PartialView, "_current_calendar.html", days: @days, day_names: @day_names, federal_states: @federal_states, months: @months, periods: @periods %>
  </div>
</div>
