<title>RESTful JSON API für Schulferien und gesetzliche Feiertage (Deutschland)</title>
<meta
  name="description"
  content="API zur Abfrage aller Schulferientermine und Feiertage in Deutschland."
/>
