<% base_description =
  "Aktuelle Schulferien, Feiertage und Brückentage für alle 16 Bundesländer in Deutschland. Übersicht der nächsten #{@number_of_days} Tage"

date_part =
  if @custom_start_date && Date.compare(@custom_start_date, Date.utc_today()) != :eq do
    " ab #{Calendar.strftime(@custom_start_date, "%d.%m.%Y")}"
  else
    ""
  end

description =
  base_description <>
    date_part <> " mit Terminen für 2025/2026. Kostenlos Entschuldigungen als PDF erstellen." %>
<meta name="description" content={description} />
<title>
  Schulferien Deutschland 2025: Alle Bundesländer, Feiertage & Brückentage im Überblick
</title>
<link rel="canonical" href={Routes.page_url(@conn, :home)} />
<%= if @noindex do %>
  <meta name="robots" content="noindex" />
<% end %>
