<title>RESTful JSON API v2.1 für Schulferien und gesetzliche Feiertage (Deutschland)</title>
<meta
  name="description"
  content="Die mehr-schulferien.de API v2.1 bietet strukturierten Zugriff auf alle Schulferien, Feiertage und Brückentage in Deutschland. Mit eindeutigen Endpunkten für Bundesländer, Städte, Landkreise und Schulen. Kostenlos und Open Source."
/>
