<title>Schulferien und gesetzliche Feiertage für Deutschland</title>
<meta name="description" content="Alle Ferientermine für <%= MehrSchulferienWeb.PageView.count_schools() %> Schulen in Deutschland. Brückentageübersicht. Für Entwickler zusätzlich mit RESTful JSON API.">
