<meta name="description" content="Ferientermine und gesetzliche Feiertage für <%= @federal_state.name %>. Optional mit islamischen, jüdischen und orthodoxen Feiertagen zu denen es eine Beurlaubung gibt.">
<title>Schulferienkalender für <%= @federal_state.name %><%= if CalendarHelper.calendar_sub_heading(@starts_on, @ends_on, @chosen_religion_categories) != "" do %> <%= CalendarHelper.calendar_sub_heading(@starts_on, @ends_on, @chosen_religion_categories) %><% end %></title>
