<meta name="description" content="Ferientermine und Feiertage für <%= @federal_state.name %>. Inkl. gesetzlicher Feiertage.">
<title>Schulferienkalender für <%= @federal_state.name %><%= if CalendarHelper.calendar_sub_heading(@starts_on, @ends_on, @chosen_religion_categories) != "" do %> <%= CalendarHelper.calendar_sub_heading(@starts_on, @ends_on, @chosen_religion_categories) %><% end %></title>
