<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= render_existing(@view_module, "meta." <> @view_template, assigns) ||
        render(MehrSchulferienWeb.LayoutView, "meta.html", assigns) %>
    <%= if true do %>
      <style>
      <%= render(MehrSchulferienWeb.LayoutView, "_purified_css.html") %>
      </style>
    <% else %>
      <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <% end %>
    <%= render(MehrSchulferienWeb.LayoutView, "_google_analytics_code.html") %>
    <script src="https://www.googleoptimize.com/optimize.js?id=GTM-5KRZPSK"></script>
  </head>
  <body>

    <main role="main">
      <div class="container">
        <div class="logo">
          <%= link to: Routes.page_path(@conn, :index) do %>
          <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 185.1 23.2" style="enable-background:new 0 0 185.1 23.2;" xml:space="preserve">
            <style type="text/css">
              .st0{fill:#3462AC;}
              .st1{fill:#FFFFFF;}
            </style>
            <g>
              <path d="M79.7,13c0,1.6-0.5,2.8-1.6,3.7c-1.1,0.9-2.5,1.3-4.4,1.3c-0.8,0-1.5-0.1-2.3-0.3c-0.7-0.2-1.3-0.4-1.8-0.8v-3.8
                c0.6,0.4,1.3,0.7,2.1,1c0.8,0.3,1.5,0.4,2.1,0.4c0.5,0,0.9-0.1,1.2-0.3s0.4-0.5,0.4-1c0-0.2,0-0.4-0.1-0.5
                c-0.1-0.2-0.2-0.3-0.4-0.5s-0.6-0.5-1.3-1.1c-0.8-0.7-1.5-1.4-1.8-2.1c-0.4-0.7-0.6-1.5-0.6-2.3c0-0.9,0.2-1.8,0.7-2.5
                c0.5-0.8,1.1-1.3,2-1.8c0.9-0.4,1.8-0.6,2.9-0.6c1.7,0,3.3,0.4,4.7,1.2L80,6.2c-1.2-0.6-2.3-1-3.1-1c-0.5,0-0.8,0.1-1.1,0.3
                s-0.4,0.5-0.4,0.9c0,0.4,0.1,0.7,0.4,1c0.2,0.3,0.7,0.7,1.4,1.2c0.9,0.6,1.5,1.3,1.9,2C79.5,11.3,79.7,12.1,79.7,13z"/>
              <path d="M85.9,18.1c-1.4,0-2.6-0.4-3.4-1.3c-0.8-0.9-1.2-2.1-1.2-3.7c0-1.5,0.3-2.8,0.8-3.9c0.6-1.2,1.3-2.1,2.3-2.8
                c1-0.7,2.1-1,3.4-1c1.4,0,2.7,0.3,4,0.9l-1.3,3.1c-1-0.4-1.8-0.6-2.4-0.6c-0.4,0-0.9,0.2-1.2,0.5c-0.4,0.3-0.7,0.9-0.9,1.6
                c-0.2,0.7-0.4,1.4-0.4,2c0,0.7,0.1,1.1,0.3,1.4c0.2,0.3,0.6,0.5,1,0.5c0.5,0,1-0.1,1.5-0.2c0.5-0.2,1-0.4,1.6-0.7v3.3
                c-0.6,0.3-1.2,0.6-1.8,0.7S86.7,18.1,85.9,18.1z"/>
              <path d="M97.9,17.9l1.4-6.7c0.1-0.6,0.2-1.1,0.2-1.5c0-0.3-0.1-0.5-0.2-0.7s-0.3-0.2-0.6-0.2c-0.9,0-1.6,1.1-2,3.2l-1.3,6h-4.2
                L94.8,1H99l-0.6,2.7c-0.3,1.1-0.6,2.2-1,3.1h0.1c0.7-0.9,1.7-1.4,3-1.4c1,0,1.8,0.3,2.4,0.9c0.6,0.6,0.9,1.5,0.9,2.6
                c0,0.8-0.1,1.6-0.3,2.5l-1.4,6.5H97.9z"/>
              <path d="M109.3,13.8c0,0.3,0.1,0.6,0.2,0.7s0.4,0.2,0.6,0.2c0.4,0,0.8-0.3,1.2-0.8c0.4-0.6,0.6-1.3,0.8-2.3l1.3-6h4.2L115,17.9
                h-3.4l0.1-1.7h-0.1c-0.4,0.7-0.9,1.2-1.4,1.5c-0.5,0.3-1.2,0.5-2,0.5c-1,0-1.8-0.3-2.4-0.9s-0.9-1.5-0.9-2.5c0-0.8,0.1-1.6,0.3-2.5
                l1.4-6.5h4.2l-1.4,6.7C109.4,12.9,109.3,13.4,109.3,13.8z"/>
              <path d="M121.7,17.9h-4.2L121.1,1h4.2L121.7,17.9z"/>
              <path d="M123.9,23.2c-0.8,0-1.5-0.1-2.2-0.3v-3.3c0.5,0.1,0.9,0.2,1.3,0.2c0.5,0,0.9-0.1,1.2-0.3c0.3-0.2,0.5-0.6,0.6-1l2.1-9.7
                h-1.8l0.5-2.1l2-1l0.2-0.8c0.3-1.4,0.8-2.4,1.6-3c0.7-0.6,1.7-0.9,3-0.9c0.6,0,1.1,0.1,1.7,0.2c0.5,0.1,1,0.3,1.4,0.5l-1.1,2.9
                c-0.5-0.2-0.9-0.3-1.4-0.3c-0.3,0-0.5,0.1-0.6,0.2c-0.2,0.1-0.3,0.3-0.4,0.6l-0.2,0.8h2.3l-0.7,3.1h-2.3l-2.2,10.4
                c-0.3,1.4-0.9,2.4-1.7,3.1C126.2,22.9,125.2,23.2,123.9,23.2z"/>
              <path d="M138.1,18.1c-1.5,0-2.7-0.4-3.6-1.3c-0.9-0.9-1.3-2-1.3-3.6s0.3-2.9,0.9-4.1s1.4-2.2,2.5-2.8c1-0.6,2.3-0.9,3.6-0.9
                c1.4,0,2.5,0.3,3.2,0.9c0.8,0.6,1.2,1.4,1.2,2.5c0,1.5-0.6,2.6-1.7,3.3c-1.1,0.8-2.8,1.2-4.9,1.2h-0.6v0.2c0,1.1,0.6,1.6,1.8,1.6
                c0.6,0,1.1-0.1,1.7-0.3c0.5-0.2,1.2-0.4,1.9-0.8v3c-0.8,0.4-1.6,0.7-2.3,0.9C139.8,18,139,18.1,138.1,18.1z M139.8,8.2
                c-0.4,0-0.9,0.3-1.2,0.8c-0.4,0.5-0.6,1.1-0.7,1.7h0.3c0.8,0,1.4-0.1,1.9-0.4c0.4-0.3,0.7-0.7,0.7-1.2c0-0.2-0.1-0.4-0.2-0.6
                C140.4,8.3,140.1,8.2,139.8,8.2z"/>
              <path d="M154.3,5.4c0.4,0,0.7,0,0.9,0.1l-0.9,4.1c-0.4-0.2-0.8-0.2-1.3-0.2c-0.7,0-1.3,0.3-1.8,0.8c-0.4,0.5-0.8,1.3-1,2.3
                l-1.1,5.4h-4.2l2.6-12.3h3.3l-0.2,2h0.1c0.5-0.8,1-1.4,1.5-1.7C152.7,5.6,153.4,5.4,154.3,5.4z"/>
              <path d="M158,17.9h-4.2l2.6-12.3h4.2L158,17.9z M156.9,2.9c0-0.7,0.2-1.3,0.6-1.7c0.4-0.4,1-0.6,1.8-0.6c0.7,0,1.2,0.1,1.5,0.4
                c0.4,0.3,0.5,0.6,0.5,1.1c0,0.7-0.2,1.3-0.6,1.7c-0.4,0.4-1,0.6-1.8,0.6C157.6,4.5,156.9,3.9,156.9,2.9z"/>
              <path d="M165.9,18.1c-1.5,0-2.7-0.4-3.6-1.3c-0.9-0.9-1.3-2-1.3-3.6s0.3-2.9,0.9-4.1s1.4-2.2,2.5-2.8c1-0.6,2.3-0.9,3.6-0.9
                c1.4,0,2.5,0.3,3.2,0.9c0.8,0.6,1.2,1.4,1.2,2.5c0,1.5-0.6,2.6-1.7,3.3c-1.1,0.8-2.8,1.2-4.9,1.2h-0.6v0.2c0,1.1,0.6,1.6,1.8,1.6
                c0.6,0,1.1-0.1,1.7-0.3c0.5-0.2,1.2-0.4,1.9-0.8v3c-0.8,0.4-1.6,0.7-2.3,0.9C167.6,18,166.8,18.1,165.9,18.1z M167.6,8.2
                c-0.4,0-0.9,0.3-1.2,0.8c-0.4,0.5-0.6,1.1-0.7,1.7h0.3c0.8,0,1.4-0.1,1.9-0.4c0.4-0.3,0.7-0.7,0.7-1.2c0-0.2-0.1-0.4-0.2-0.6
                C168.1,8.3,167.9,8.2,167.6,8.2z"/>
              <path d="M180.8,9.7c0-0.3-0.1-0.5-0.2-0.7c-0.2-0.2-0.4-0.2-0.6-0.2c-0.4,0-0.8,0.3-1.1,0.8c-0.4,0.5-0.6,1.3-0.9,2.4l-1.3,6h-4.2
                l2.6-12.3h3.3l-0.1,1.7h0.1c0.4-0.7,0.9-1.2,1.4-1.5c0.5-0.3,1.2-0.4,2-0.4c1,0,1.8,0.3,2.4,0.9c0.6,0.6,0.9,1.5,0.9,2.6
                c0,0.8-0.1,1.6-0.3,2.5l-1.4,6.5h-4.2l1.4-6.7C180.8,10.6,180.8,10.1,180.8,9.7z"/>
            </g>
            <g>
              <polygon class="st0" points="60.8,19.6 0,19.6 4.1,0 65,0 	"/>
            </g>
            <g>
              <path class="st1" d="M10.5,16V7.1h-0.1c-0.4,2.4-0.6,3.8-0.7,4.3l-1,4.6h-3L8.4,3.6h4.4v8.8h0.1l4.1-8.8h4.5L18.8,16h-3l1-4.7
                c0.3-1.3,0.6-2.5,0.9-3.7l0.1-0.5h-0.1L13.7,16H10.5z"/>
              <path class="st1" d="M28.5,16h-7.4l2.6-12.4h7.4l-0.6,2.7h-4.1l-0.4,2h3.8l-0.6,2.7h-3.8L25,13.2h4.1L28.5,16z"/>
              <path class="st1" d="M40.1,16h-3.3l1.1-5.1h-2.9L33.8,16h-3.3l2.6-12.4h3.3l-1,4.6h3l1-4.6h3.3L40.1,16z"/>
              <path class="st1" d="M46.7,11.5l-1,4.5h-3.3l2.6-12.4h3.3c1.4,0,2.5,0.3,3.3,0.8C52.4,5,52.8,5.8,52.8,7c0,0.9-0.2,1.7-0.6,2.3
                c-0.4,0.7-1,1.2-1.8,1.5l1.9,4.4l0.3,0.8H49l-1.7-4.5H46.7z M47.3,8.9h0.4c0.5,0,1-0.2,1.3-0.5c0.3-0.3,0.5-0.7,0.5-1.3
                c0-0.4-0.1-0.6-0.3-0.8c-0.2-0.2-0.5-0.3-0.9-0.3h-0.4L47.3,8.9z"/>
              <path class="st1" d="M53.2,14.9c0-0.6,0.2-1.1,0.6-1.4c0.4-0.4,0.9-0.5,1.5-0.5c0.5,0,0.9,0.1,1.1,0.3c0.3,0.2,0.4,0.6,0.4,1
                c0,0.6-0.2,1.1-0.5,1.4c-0.4,0.3-0.9,0.5-1.5,0.5c-0.5,0-0.9-0.1-1.2-0.3C53.3,15.7,53.2,15.3,53.2,14.9z M56.9,11.6h-2.8l1.3-8
                h3.6L56.9,11.6z"/>
            </g>
          </svg>
          <% end %>
        </div>

        <%= if get_flash(@conn, :info) do  %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>
        <%= if get_flash(@conn, :inerrorfo) do  %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

    <footer>
      <!--
        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
      -->
      <div class="dsgvo text-center">
        <div class="container">
          <p class="text-center">Alle Angaben ohne Gewähr.</p>
          <h5 class="text-center">DSGVO und Cookies</h5>
          <p>
            Wir weisen darauf hin, dass diese Seite Google Analytics einsetzt und verweisen hierzu auf die <a href="https://policies.google.com/privacy">Datenschutzerklärung</a> sowie auf die <a href="http://tools.google.com/dlpage/gaoptout?hl=de">Opt-Out-Möglichkeiten für Google-Analytics</a>.
          </p>
          <p>
            Diese Webseite verwendet Cookies, um Inhalte und Anzeigen zu personalisieren, Funktionen für soziale Medien anbieten zu können und die Zugriffe auf unsere Website zu analysieren. Außerdem geben wir Informationen zu Ihrer Verwendung unserer Website an unsere Partner für soziale Medien, Werbung und Analysen weiter. Unsere Partner führen diese Informationen möglicherweise mit weiteren Daten zusammen, die Sie ihnen bereitgestellt haben oder die sie im Rahmen Ihrer Nutzung der Dienste gesammelt haben. Sie geben Einwilligung zu unseren Cookies, wenn Sie unsere Webseite weiterhin nutzen.
          </p>
          <p>
            Weiterhin behalten wir uns vor alle Daten an den Nikolaus (a.k.a. Weihnachtsmann) zu verkaufen. Je nachdem wie gut Sie sich im laufenden Jahr verhalten haben, wird der Nikolaus Ihnen dann pünklich zum 06.12. den vor die Haustür gestellten Stiefel füllen. Es hat sich in der Vergangenheit gezeigt, das es auch gut ist, wenn man zum Besuch des Nikolaus ein - möglichst schönes - Gedicht auswendig vortragen kann.
          </p>
        </div>
      </div>
      <div class="copy">
        <div class="container">
          <p>
            Version <%= ViewHelpers.version() %> - 2020 &copy; Stefan Wintermeyer
          </p>
          <p>
            <%= link "Impressum und Datenschutzerklärung", to: Routes.page_path(@conn, :impressum) %>
          </p>
          <p>
            <a href="https://www.wintermeyer-consulting.de">Wintermeyer Consulting</a>
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>
