<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Schulferien, Feiertage, Brückentage und bewegliche Ferientage</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="container">
      <main role="main">

    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <!--
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    -->

    <div class="row">
      <div class="col-xs-12">
        <p>Alle Angaben ohne Gewähr.</p>
        <hr />
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="col-xs-6">
          <p>
            Copyright by Stefan Wintermeyer - <a href="/impressum">Impressum und Datenschutzerklärung</a>
          </p>
        </div>
        <div class="col-xs-6">
          <p class="pull-right">
            <a href="https://www.wintermeyer-consulting.de">Wintermeyer Consulting</a>
          </p>
        </div>
      </div>
    </footer>
  </div>

  </body>
</html>
