<!DOCTYPE html>
<html lang="de">
  <head>
    <%= render(MehrSchulferienWeb.LayoutView, "_head.html", assigns) %>
  </head>
  <body class="bg-gray-50">
    <%= render(MehrSchulferienWeb.LayoutView, "_logo_tailwind.html", assigns) %>
    <main role="main">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
        <%= render(MehrSchulferienWeb.LayoutView, "_flash.html", assigns) %>
        <%= @inner_content %>
      </div>
    </main>

    <%= render(MehrSchulferienWeb.LayoutView, "_footer_tailwind.html", assigns) %>
  </body>
</html> 