<!DOCTYPE html>
<html lang="de">
  <head>
    <%= render("_head.html", assigns) %>
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@socket, "/assets/app.js")}
    >
    </script>
  </head>

  <body class="min-h-screen bg-gray-100">
    <%= render("_header_tailwind.html", assigns) %>

    <main role="main" class="container mx-auto py-8">
      <%= @inner_content %>
    </main>

    <%= render("_footer_tailwind.html", assigns) %>
  </body>
</html>
