<title>
  {assigns[:page_title] || "Schulferien, Feiertage, Brückentage und bewegliche Ferientage"}
</title>
<%= if assigns[:noindex] do %>
  <meta name="robots" content="noindex,nofollow" />
<% end %>
