<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tipps</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li><a href="http://www.awin1.com/awclick.php?gid=324828&mid=11557&awinaffid=449553&linkid=2060407&clickref=">Flugspecials: Günstige Angebote zu Reisezielen weltweit bei Expedia.de</a></li>
      <li><a href="http://www.awin1.com/awclick.php?gid=324833&mid=11557&awinaffid=449553&linkid=2060395&clickref=">Escape Sale: Spare bis zu 35% auf Hotels</a></li>
      <li><a href="https://www.reisepassnummer.de/">Reiseblog: Reisepassnummer</a></li>
      <li><a href="https://sonne-wolken.de">Reiseblog: Sonne & Wolken</a></li>
    </ul>
  </div>
</div>
