<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">DSVG</h3>
  </div>
  <div class="panel-body">
  <p>
Wir weisen darauf hin, dass diese Seite Google Analytics einsetzt und verweisen hierzu auf die Datenschutzerklärung (<a target="_blank" href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>) sowie Opt-Out-Möglichkeiten für Google-Analytics (<a target="_blank" href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>).
  </p>
  </div>
</div>
