<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Reiseblog-Empfehlungen</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li><a href="https://www.reisepassnummer.de/">Reisepassnummer</a></li>
      <li><a href="https://sonne-wolken.de">Sonne & Wolken</a></li>
      <li><a href="https://www.weltenbummlermag.de">Weltenbummler Mag</a></li>
    </ul>
  </div>
</div>
