<div class="row">
  <div class="col-md-12">
    <h1>Keine Brückentage verfügbar</h1>
    <p>Für <%= @federal_state.name %> im Jahr <%= @year %> sind aktuell keine Brückentage verfügbar.</p>
    <p>Bitte versuchen Sie es mit einem anderen Jahr oder Bundesland.</p>
  </div>
</div> 