<meta name="description" content="Top-<%= if List.first(@compiled_optimal_bridge_days).bridge_day_vacation_length > 1 do %>Brückentage<% else %>Brückentag<% end %>: <%= List.first(@compiled_optimal_bridge_days).bridge_day_vacation_length %> Tage Urlaub am Stück für <%= @number_of_days_to_invest %> Brückentage (<%= Enum.join(Enum.map(List.first(@compiled_optimal_bridge_days).bridge_days, fn(x) -> Integer.to_string(x.day) <> "." <> Integer.to_string(x.month) <> "." end), ", ") %>). Optimieren Sie Ihren Urlaub!">
<title>Brückentage <%= CalendarHelper.calendar_sub_heading(@starts_on, @ends_on) %> für das Bundesland <%= @federal_state.name %><%= if @number_of_days_to_invest > 1 do %> (optimiert für <%= @number_of_days_to_invest %> Brückentage)<% end %></title>
