<meta name="description" content="Eine Liste der <%= Number.Delimit.number_to_delimited(length(@cities)) %> Städte in <%= @federal_state.name %>. Postleitzahlenbereiche <%= String.replace(List.first(@cities).zip_code, ~r/[0-9][0-9][0-9]$/, "xxx") %> bis <%= String.replace(List.last(@cities).zip_code, ~r/[0-9][0-9][0-9]$/, "xxx") %>.">
<title>Städte in <%= @federal_state.name %></title>
