/* This file is for your main application css. */

/* @import "./phoenix.css"; */
@import "./bootstrap.css";
@import "./bootstrap-theme.css";

footer {
  background: #eee;
  padding: 0;
  margin: 5em 0 0;
}

footer .dsgvo {
  background: #f5f5f5;
  color: #333;
  padding: 2em 0;
  line-height: 1.2em;
}

footer .dsgvo p {
  font-size: .8em;
}

footer .copy {
  text-align: center;
  margin: 0;
  padding: 2em 0;
}

.logo {
  margin: .5em 0;
  display: block;
  font-size: 35px;
}

.logo svg {
  height: 1em;
  width: 7.972em;
  display: block;
}

h1 {
  margin: .5em 0 .5em;
}

.page-header {
  margin-top: 0;
}

mark,
.mark {
  line-height: inherit;
  padding: .1em .2em;
}


@media (max-width: 768px) {
  mark,
  .mark {
    line-height: inherit;
    padding: 0 .2em;
  }
  h1 {
    font-size: 1.9em;
    margin-top: 0;
    line-height: 1.2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1em;
  }
}

.panel-body ul {
  margin-left: 0;
  padding-left: 1.1em;
}

mark.public-holiday {
  background: #d9edf7;
}
mark.school-holiday {
  background: #dff0d8;
}

i.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

i.icon svg {
  display: block;
  width: 1em;
  height: 1em;
}

i.icon svg,
i.icon svg path {
  fill: currentColor;
}

.calendar {
  margin: 0 0 .75em 0;
  overflow: hidden;
  margin: 1em 0;
}

.calendar .header {
  padding: 8px 12px;
  background: rgb(52,98,172);
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.calendar .body {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.calendar .text-muted {
  color: rgba(255,255,255,.7);
  font-weight: 300;
}

.calendar .footer {
  padding: 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #ccc;
}

.calendar .footer .padding {
}


.calendar .header h3 {
  margin: 0;
  padding: 0;
}

.calendar table {
  margin: 0 0 -1px;
  border: none;
}

.calendar .col-xs-6 dl:last-child {
  margin: 0;
}

.calendar table th {
  text-align: center;
}

.calendar table td {
  padding-top: .5em !important;
  padding-bottom: .5em !important;
  border-top: none;
  border-bottom: 1px solid #ccc;
}

@media (min-width:992px) {
  .calendar table td {
    padding-right: 1.2em !important;
    font-size: 1.1em;
  }
}

table.table thead {
  border-radius: 10px;
}

.table-wrapper {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 0 2em;
}

.table-wrapper table {
  margin: 0;
}

.table-wrapper table thead th {
  background: rgb(52,98,172);
  color: #fff;
  font-size: 1.2em;
}

.table-wrapper table thead th a {
  color: #fff;
}
