<h2>Show Inset day quantity</h2>

<ul>

  <li>
    <strong>Value:</strong>
    <%= @inset_day_quantity.value %>
  </li>

</ul>

<span><%= link "Edit", to: admin_inset_day_quantity_path(@conn, :edit, @inset_day_quantity) %></span>
<span><%= link "Back", to: admin_inset_day_quantity_path(@conn, :index) %></span>
