{
    "@type": "Question",
    "name": "<%= @question %>",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "<%= @answer %>"
    }
}<%= unless assigns[:last] && @last == true do %>,<% end %>
