<meta name="description" content="Schulferientermine für <%= @city.name %> in <%= @federal_state.name %>. Mit beweglichen Feiertagen für <%= Number.Delimit.number_to_delimited(length(@schools)) %> Schulen.">
<title>Schulferientermine für <%= @city.name %> :: <%= CalendarHelper.calendar_sub_heading(@starts_on, @ends_on, @chosen_religion_categories) %></title>
