<h1>Edit Federal state</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.federal_state_path(@conn, :update, @federal_state)) %>

<span><%= link "Back", to: Routes.federal_state_path(@conn, :index) %></span>
