<h1>Listing Federal states</h1>

<table>
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for federal_state <- @federal_states do %>
    <tr>

      <td>
        <span><%= link "Show", to: Routes.federal_state_path(@conn, :show, federal_state) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
