<h1>New Coronavirus quarantine holiday period</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.federal_state_path(@conn, :create, @country_slug, @federal_state_slug)) %>

<span><%= link "Back", to: Routes.federal_state_path(@conn, :show, @country_slug, @federal_state_slug) %></span>
