<h1>New Federal state</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.federal_state_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.federal_state_path(@conn, :index) %></span>
